apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
  - service.yaml
configMapGenerator:
  - name: shadow-proxy-config
    files:
      - shadow-proxy.toml=shadow-proxy-config.toml
